# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.whl
*.egg
*.egg-info/
.installed.cfg
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.tox/
.nox/
.hypothesis/
.coverage.*
coverage/

# Virtual Environments
env/
.venv/
venv/
ENV/

# Build and Distribution
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
plugin_package/
test_env/
test_wheels/

# Airflow-specific
/logs/*
/dags/__pycache__/
/plugins/*
!/plugins/vs_fmc_plugin.zip
airflow.cfg
airflow.db
webserver_config.py
*.pid
*.sock

# Docker-specific
.env*
!.env.example
docker-compose.override.y*ml
postgres-db-volume/
superset_home/

# Data and Source directories
/data/*
!/data/.gitkeep
/sql/*
/jdbc/*
/sources/*
!/sources/.gitkeep

# MinIO specific
minio_data/
.minio.sys/
data/.minio.sys/
**/.minio.sys/
*.bin

# IDE-specific
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Security and Certificates
*.pem
*.crt
*.key

# Log files
*.log
logs/
*.out

# Local development files
.python-version
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore all files in the dags directory but keep the directory
/dags/*
!/dags/

# Archive files
*.zip