--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.8.1/constraints-3.11.txt"

apache-airflow-providers-jdbc
apache-airflow-providers-snowflake
apache-airflow-providers-microsoft-azure
apache-airflow-providers-databricks
apache-airflow-providers-google
croniter
azure-storage-blob
flask-admin
flask-appbuilder
flask-babel
jaydebeapi